# Server
App_Env=development
PORT=8080

# Database
DATABASE_URL=postgres://<username>:<password>@localhost:5432/nigerian_universities?sslmode=require


# Frontend
FRONTEND_URL=<your-frontend-url-here>

# Security - JWT (JSON Web Token)
JWT_SECRET=<your-jwt-secret-here>
JWT_EXPIRES_IN_HOURS=<your-jwt-expiration-duration>

# Google OAuth
GOOGLE_CLIENT_SECRET=<your-google-oauth-client-secret>
GOOGLE_CLIENT_ID=<your-google-oauth-client-id>
GOOGLE_REDIRECT_URL=http://localhost:8080/auth/google/callback


# Github OAuth
GITHUB_CLIENT_SECRET=<your-github-oauth-client-secret>
GITHUB_CLIENT_ID=<your-github-oauth-client-id>
GITHUB_REDIRECT_URL=http://localhost:8080/auth/github/callback